[2020-07-22 13:32] DomingoMG opened #1 "WEB NOT WORKING"
I don't understand why many of the repositories are WEB compatible if they are not.
If it supports WEB, please let me know. Thank you.

[2020-07-22 16:15] philip-brink commented on #1
Yes, the package supports web. I've updated the example project as well to add the web files.

Could you let me know specifically what didn't work for you?

Thanks

[2020-07-22 16:19] DomingoMG commented on #1
I downloaded the example and it doesn't allow me to move the items.

It just generates the list for me.

[2020-07-22 16:28] philip-brink commented on #1
The examples are set to be dragged on long press (the android default).

You could add the lines

        listDragOnLongPress: false,
        itemDragOnLongPress: false,

to your `DragAndDropLists` to have a dragging mode that is more suitable for web.

[2020-07-22 16:36] DomingoMG commented on #1
Problem solved, sorry, thanks.

[2020-07-22 16:52] philip-brink commented on #1
Great! Glad it worked for you.

[2020-07-22 16:52] #1 closed

[2020-09-18 02:47] rizzi37 opened #3 "is there list canDrag support ?"
hi, thanks so awesome package.

i wont's drag my list move ~ only use items.

 how can i do it ?

[2020-09-21 17:26] philip-brink commented on #3
Hi, glad you like it, and thanks for the suggestion!

I've added the canDrag functionality to lists now, you can find it in version 0.1.0. To use, just set canDrag in your DragAndDropList or DragAndDropListExpansion.

It did require an interface change so if you've made your own custom list class (implementing DragAndDropListInterface) you'll need to add the canDrag field to it.

I've also include

[2020-09-21 17:27] #3 closed

[2020-09-22 06:40] rizzi37 commented on #3
aha~ your code nice read. i give up my fork and use 0.1.0.

[2020-09-22 13:44] rizzi37 opened #4 "this ui is excepted ?"
https://github.com/philip-brink/DragAndDropLists/blob/18228c8a112a9efa90f6be81dfa1aca0081e5d29/lib/drag_and_drop_list_target.dart#L48

at bottom has 110 height blank , it's hope this ?

![image](https://user-images.githubusercontent.com/11900411/93889940-65f9c200-fd1c-11ea-8f9b-65c1f3135928.png)

[2020-09-22 16:26] philip-brink commented on #4
Hi yes the blank is left intentionally for usability, it makes it easier to drag a list to the last position. However, if you find it useful, I could add a parameter so that this height is configurable or 0.

[2020-09-23 01:41] rizzi37 commented on #4
yes~  i think this height is configurable is better.
thanks so quicly reply~

[2020-09-23 18:57] philip-brink commented on #4
Sure, no problem! I'll update it soon.

[2020-09-24 12:58] mivoligo opened #5 "Add option to drag with a handle"
Hi @philip-brink I've been looking for a decent, up to date, package which takes care of reorganizing lists. I've tried a few but they have all kinds of problems. Your project seems to be the most promising at the moment.
One feature, which I'd like to see would be the option to have a custom handle to drag an item with. Currently I can only drag an item on longpress or, if it's set to false, drag

[2020-09-24 19:10] philip-brink commented on #5
Hi @mivoligo that's a great idea! It'll also help for iOS consistency as well. I'm pretty busy this week, but should have an update next week.

[2020-09-24 21:37] mivoligo commented on #5
Awesome! Looking forward to it.

[2020-09-30 16:03] ElenaKova opened #6 "Scrolling problem"
When I hold my finger at the bottom(top) of the screen, the list is scrolling down(up) as if I were dragging an item. Is it possible to fix it?

[2020-10-01 00:53] philip-brink commented on #6
Hi @ElenaKova, I tried to reproduce this problem but wasn't able to find it. Could you provide some more details and a minimal example where this happens?

Thanks!

[2020-10-01 09:38] ElenaKova commented on #6
Please, watch this video: in it I visually depicted the problem https://drive.google.com/file/d/1nig81moYWOyfp7CrNDAtUWuFWulVmf95/view?usp=sharing

[2020-10-01 14:07] bystrovsv opened #8 "drag event"
Great library.
Can you please tell me if it is possible to intercept the drag and drop event?
I want to display the position deletion area when starting dragging.
Saw wrappers, but did not understand how to use it.

[2020-10-01 17:18] philip-brink commented on #6
Thanks for the video, that helped. I've been able to reproduce it now, and should have a bug fix coming up.

[2020-10-01 17:51] philip-brink commented on #8
Hi @bystrovsv glad you like it.

Currently the only methods accessible to the outside are are the add and reorder functions. I'm open to adding more of course as long as they don't make the standard use cases more complicated.

For your case, do you mean something like shown here?

![reorder_placeholder](https://user-images.githubusercontent.com/6272888/94845024-13d83100-03ed-11eb-9b55-aaf238ac458

[2020-10-01 19:27] ElenaKova commented on #6
Thanks! The library is great!

[2020-10-02 06:27] bystrovsv commented on #8
Not really.
I would like to see multiple drag targets. When dragging to them, the list item should be deleted. So that you can set several different statuses when deleting. For example, deleted with the status "Success", deleted with the status "Failed", just deleted.
And place of the target want to be arbitrary

[2020-10-05 23:31] philip-brink commented on #4
@rizzi37 I've added these options to configure both for lists and for items in the new version 0.2.0.
In the DragAndDropLists you'll find the new options:
- lastItemTargetHeight
- addLastItemTargetHeightToTop (this adds an equal amount of height to the top item, which looks a little bit better for certain styles of lists)
- lastListTargetSize

[2020-10-05 23:33] philip-brink commented on #5
@mivoligo I've added the option for using drag handles now in version 0.2.0. You can enable this in DragAndDropLists by setting the parameter dragHandle. By default it's on the right, but you can also switch to the left with dragHandleOnLeft. I've also added a sample of how to use this in the example app.

[2020-10-06 10:18] mivoligo commented on #5
@philip-brink Awesome! I'll take a look at it in this week hopefully and let you know.

[2020-10-06 10:19] mivoligo commented on #5
@philip-brink Awesome! I'll take a look at it in this week hopefully and let you know.

[2020-10-06 14:34] philip-brink commented on #6
Hi @ElenaKova, I've added a fix for this issue in version 0.2.1.

[2020-10-06 18:40] ElenaKova commented on #6
Thanks a lot!

[2020-10-06 18:40] #6 closed

[2020-10-07 18:15] philip-brink commented on #8
Hi @bystrovsv, I've added a few options in version 0.2.2 that might be helpful for you.

You can now specify the acceptance criteria for where a list or item can be dropped, you can use the parameters `listOnWillAccept`, `listTargetOnWillAccept`, `itemOnWillAccept` and `itemTargetOnWillAccept` in `DragAndDropLists`.

I've also added a more direct way to access the objects *after* they have been ac

[2020-10-07 18:17] #4 closed

[2020-10-08 08:15] bystrovsv commented on #8
Great, but I don't know how to apply it.
I found the behavior I wanted in the Flutter BoardView.
As you drag a item, targets appear to which you can drag the item. Then it is removed from the list.
Can this be done with the current set of capabilities?

[2020-10-09 16:21] mivoligo commented on #5
I've managed to test the example file drag_handle_example.dart this morning. It works smoothly on Linux desktop. :+1:
Maybe couple things could be improved a little. I've noticed the handle is by default vertically centered within the item. Maybe this could be made more customizable in the future.
The other thing could be setting different mouse cursor when hovering and grabbing the handle. Curren

[2020-10-09 16:47] mivoligo opened #9 "Error in debug console when dragging item in long list"
I've got this with BasicExample as well as with DragHandleExample. When list is longer than screen and I drag item from the top of the list to somewhere down, debug console is not happy:

[code]

[2020-10-10 12:19] billylev opened #10 "Adding OnTap() causes exception on web builds."
When adding an onTap to the ListTile in the expandable example, an exception is thrown in the Inkwell widget, when  reorder subitems on a web build running in chrome.

`Exception has occurred.
JSNoSuchMethodError (NoSuchMethodError: invalid member on null: 'findRenderObject')`

`
_buildItem(String item) {
    return DragAndDropItem(
      child: ListTile(
        title: Text(item),
        onTap:

[2020-10-12 00:24] kjmj opened #11 "itemDecorationWhileDragging only applied when dragHandle is provided?"
First off, this library is awesome. Perfect for what I need it for.

I have noticed that the `itemDecorationWhileDragging` does not seem to be applied unless a `dragHandle` is also provided to `DragAndDropLists`. Is this expected behavior? I'm more than happy to provide some sample code to show what is going on if you can't replicate.

[2020-10-12 02:19] kjmj commented on #11
For anyone else reading this, I created a PR to address this issue #12

[2020-10-12 15:21] philip-brink commented on #11
Thanks for noticing! I've merged your PR.

[2020-10-12 15:21] #11 closed

[2020-10-12 18:46] philip-brink commented on #10
Hi @billylev, thanks for the report! I've found a recent [issue](https://github.com/flutter/flutter/issues/66887) about this on Flutter itself, and submitted some more information to them.

[2020-10-13 08:02] billylev commented on #10
ok thanks.

[2020-10-13 08:02] #10 closed

[2020-10-15 17:33] philip-brink commented on #9
Hi @mivoligo, thanks! I've added a fix to this in v 0.2.4.

[2020-10-15 17:36] philip-brink commented on #5
Hi @mivoligo, I've added both of your ideas in v 0.2.4. For the drag handle vertical placement, you can now use the`listDragHandleVerticalAlignment` and `itemDragHandleVerticalAlignment` parameters in your `DragAndDropLists` to control their alignment.

[2020-10-15 18:16] philip-brink commented on #8
Hi @bystrovsv, this depends on exactly what you would need to do, and is probably a bit outside of the scope for this project.

If you want to be able to drag items *within* the lists, with an *option* to drag outside of the list into some other container, then yes, this is likely possible though I have not tested it. You would need to add a `DragAndDropListTarget` or `DragAndDropItemTarget` somew

[2020-10-15 18:17] #9 closed

[2020-10-15 18:40] bystrovsv commented on #8
Thanks a lot, I'll try

[2020-10-15 21:02] mivoligo commented on #5
Thank you @philip-brink !

[2020-10-16 16:51] jacobokoenig opened #14 "Item drag crashes only on web"
Hi,

I've implemented a list of lists which drags and drops effectively on mobile and tablet, but on web causes a weird and unusual crash. Here's the log of it:

`"Error: This widget has been unmounted, so the State no longer has a context (and should be considered defunct).
Consider canceling any active work during "dispose" or using the "mounted" getter to determine if the State is still active.

[2020-10-16 17:56] philip-brink commented on #14
Hi @jacobokoenig, I wonder if this might be the same issue as #10. Could you try commenting out the onTap method in your GestureDetector to see if it still throws this exception?

[2020-10-17 08:50] jacobokoenig commented on #14
Hi @philip-brink, seemingly unrelated as I removed the GestureDetector altogether but the problem remains the same. The exception happens on starting to drag.

[2020-10-20 11:16] jacobokoenig commented on #14
@philip-brink any ideas on this subject? I appreciate any guidance you can give me.

[2020-10-21 01:19] philip-brink commented on #14
I've tried reproducing it but without any luck. What's your `flutter doctor -v` output?

Are the widgets inside the list (`CategoryTitle`, `ProductDetailView`) stateless as well?

[2020-10-21 09:53] bystrovsv commented on #8
I only want to visualize a target when i start dragging a item.
How to do it? I need event.

[2020-10-21 20:30] philip-brink commented on #8
In 0.2.7 I now added `onItemDraggingChanged` and `onListDraggingChanged` parameters to `DragAndDropLists`. You can supply methods to these parameters that will be called when the dragging starts and when it ends.

[2020-10-21 22:28] jacobokoenig commented on #14
Thanks for your help @philip-brink.

CategoryTitle, ProductDetailView are indeed Stateless as well. I've upgraded but no difference in the error. Here's my flutter doctor:

[✓] Flutter (Channel dev, 1.24.0-1.0.pre, on Mac OS X 10.15.7 19H2 darwin-x64, locale en-GB)
    • Flutter version 1.24.0-1.0.pre at /Users/jacobokoenig/Developer/flutter
    • Framework revision 12bea61c29 (7 days ago), 2020-1

[2020-10-21 22:43] jacobokoenig commented on #14
@philip-brink I found the issue. Inside of the tile itself, there was an InkWell with an onTap that navigates towards another view, hence dismounting the lists and causing the error. As it turns out **changing the InkWell to a GestureDetector** fixed the issue. Something different goes between them on the web where [I suppose] the InkWell calls onTap during the drag whilst GestureDetector doesn't.

[2020-10-22 07:29] bystrovsv commented on #8
1. When I define onItemDraggingChanged, I cannot move item to lists. So conceived?
2. I don't understand how I can remove the item of the original list. It cannot be defined via DragAndDropItem. Need item index and list index, how in onItemReorder.

[2020-10-22 16:29] philip-brink commented on #14
@jacobokoenig Great! That's good to know. Until this issue with dragging on flutter web gets resolved I'll add some info in the readme as a known problem. Thanks!

[2020-10-22 16:33] #5 closed

[2020-10-22 16:54] philip-brink commented on #8
When an item or list is dropped onto a target, it calls the `onItemReorder` or `onListReorder`, and provides the indices of the item/list being dragged. If you want to delete the item/list instead of reordering it, you just need to remove it from the list.

To do so, you need to modify your list, using whatever state manager you use in your project (ie setState for pure flutter, or modifications t

[2020-10-22 18:17] bystrovsv commented on #8
I understand. But onItemReorder does not work when item dragging to external target. What can be done?

[2020-10-22 20:53] philip-brink commented on #8
Using flutter's [DragTarget](https://api.flutter.dev/flutter/widgets/DragTarget-class.html) you need to have at least the following methods defined:
* `onWillAccept` (whether or not you will allow the item to be dropped)
* `onAccept` (the item has been dropped, what to do with it?)

In your case, when onAccept is called, you will get a reference to the incoming object from onAccept. If it is a lis

[2020-10-23 07:05] bystrovsv commented on #8
Yes, that's what I do.
But DragAndDropItem does not contain information about the original data object. And it is the data object that needs to be deleted, not the widget.
I tried to override the whole chain - lists, list, item. I wanted to add a reference to the original object in the item.
I was unable to achieve the result

[2020-10-23 07:41] bystrovsv commented on #8
Probably, I need to determine the deleted element of the original data through the index of the DDitem in the DDlist ... Right?

[2020-10-23 16:31] philip-brink commented on #8
Yes, there are a few ways to do this:
1. Create your list of `DragAndDropList` and all its contents outside of your `DragAndDropLists` widget. You can check the basic example included in the package to see that. Then you could just do an object comparison to find which is the right DragAndDropItem to delete.
2. Create a class that extends `DragAndDropItem` and add some tag or key element that you

[2020-10-23 16:34] bystrovsv commented on #8
Thanks. I do 3
All work.

[2020-10-23 16:34] #8 closed

[2020-11-07 15:49] bystrovsv opened #16 "disable scrolling"
Hi.
Is it possible to block scrolling?
Scrolling looks strange in limited space.

[2020-11-09 17:19] philip-brink commented on #16
Hi @bystrovsv , I added this option in the new version 0.2.9. To do so, set `disableScrolling` to true in the `DragAndDropLists`.

[2020-11-09 22:34] bystrovsv commented on #16
I checked, almost.
Horizontal scrolling of lists has been disabled.
But vertical scrolling of one list still works

[2020-11-09 23:06] philip-brink commented on #16
Please can you provide example code for the one that isn't working for you?

[2020-11-10 12:23] bystrovsv commented on #16
https://github.com/0rbb/sample_dd

[2020-11-10 16:50] philip-brink commented on #16
You're using a CustomScrollView, so it's not the DragAndDropLists that is scrolling. You just need to add a property `physics: NeverScrollableScrollPhysics(),` to your CustomScrollView.

[2020-11-11 07:33] bystrovsv commented on #16
Added NeverScrollableScrollPhysics in sample.
Scrolls

[2020-11-13 17:49] philip-brink commented on #16
See 0.2.9+1.

[2020-11-17 08:11] bystrovsv commented on #16
Without changes.

[2020-11-17 17:43] philip-brink commented on #16
You'll need to provide some more details. Where and when exactly is it scrolling for you?

[2020-11-17 17:50] bystrovsv commented on #16
I run project sample_dd in Chrome.
I hover over the list and scroll vertically with the wheel.
The list moves a little.

[2020-11-17 18:52] philip-brink commented on #16
Ok great, that helped, it should be fixed now for the horizontal lists. Could you try with v. 0.2.9+2?

[2020-11-17 19:03] bystrovsv commented on #16
It work. Thank a lot

[2020-11-17 19:03] #16 closed

[2020-11-27 09:33] kinex opened #17 "listDecorationWhileDragging is not applied"
Based on my testing `listDecorationWhileDragging` is not applied. Dragged item has always a transparent background. I tried for example this:
[code]
As a comparison `itemDecorationWhileDragging` seems to work.

[2020-11-27 09:47] kinex opened #18 "Difficult to move items between lists"
When using `DragAndDropListExpansion`, I have found it very difficult to drag an item from a list to another list especially if the destination list is empty. Problem is that the title widget of `DragAndDropListExpansion` and the `contentsWhenEmpty` widget do not accept the item. As a result of this it is quite difficult to find the correct location where the item should be dropped.

[2020-11-27 13:34] kinex opened #19 "Allow centering horizontally the item/list being dragged"
There are properties `itemDraggingWidth` and `listDraggingWidth` for setting item/list width while dragging, but the item/list being dragged is always aligned to start. This is inconvenient as it prevents from seeing the current drop position on left from your finger (if a right handed person). Maybe better default would be to center the item/list being dragged, or allow specifying alignment in pa

[2020-11-30 14:47] kinex opened #20 "Unable to put DragAndDropLists as a child of ListView"
If `DragAndDropLists` is put under a parent `ListView`, the following exception is thrown:
[code]
I checked from code that `DragAndDropLists` uses internally `ListView`. If you expose `ListView.shrinkWrap` this issue can be avoided. Other (maybe better) option would be to use `Column` instead of `ListView` when `DragAndDropLists.disableScrolling` is true.

Workaround is to wrap `DragAndDropLists`

[2020-11-30 18:22] philip-brink commented on #17
Thanks for the report, I'm checking this and your other issues now.

[2020-11-30 18:34] philip-brink commented on #14
@jacobokoenig This issue seems to be solved now on the flutter dev channel.

[2020-12-10 09:38] pheeraphat-jun opened #21 "how to hide header drag handle"

[2020-12-14 18:05] philip-brink commented on #21
Are you not wanting to drag the list at all? If so, you can set `canDrag: false` when you create your `DragAndDropList`, and it will not show the drag handle for the header.

[2020-12-14 19:15] philip-brink commented on #20
Hi @kinex, thanks for the comment. I've used your idea for returning a `Column` instead of a `ListView`. It's included in v. 0.2.10.

[2020-12-14 20:32] philip-brink commented on #17
Should be solved in v. 0.2.10.

[2020-12-15 13:21] kinex commented on #17
Works now, thanks!

[2020-12-15 13:22] #17 closed

[2020-12-15 13:34] kinex commented on #20
Thanks, works great now!

[2020-12-15 13:34] #20 closed

[2020-12-15 13:51] kinex opened #22 "Allow collapsing DragAndDropListExpansion while dragging"
It would be nice to allow collapsing `DragAndDropListExpansion` while it is being dragged. Currently it may be difficult to see drop position if there a lot of items in the list as the dragged item hides the list behind.

[2020-12-16 09:41] woodyfairy commented on #18
+1

[2020-12-17 08:34] pheeraphat-jun commented on #21
yes, I have one header, thank you for solution.

[2020-12-17 12:30] BenPoell opened #23 "Event for dragging and dropping outside lists"
Hi,
is there a callback, which recognizes that the list element was dropped outside the lists?

I'm trying here to group appointments and then drag&drop them in the calendar on the right. For this I at least need to know that it was dropped ever the calendar widget.
I tried playing around with draggables and dragTargets but that doesn't compute with the DragAndDropListExpansion.

![image](https://

[2021-01-07 16:15] BenPoell commented on #14
Just faced the same issue, for all searching in their code for a solution: ListTile and therefore ExpansionTile is using InkWell - so it doesn't work with those widgets as well.

[2021-01-17 22:15] 5eeman opened #24 "DragAndDropItem into DragAndDropList"
Hi, is there any way how I can create DragAndDropList from DragAndDropItem when dragging it from another DragAndDropList and backwards?

[2021-01-21 10:38] Tangshenghao1 opened #25 "How do I change the slide speed of the list when I drag to the end？"
1.How do I change the slide speed of the list when I drag to the end

2.The list does not slide when the item in Lists in the horizontal slide example is dragged to the end。

[2021-01-23 05:57] erishabh opened #26 "Add dismissible widget to dragHandle +child"
Hi, I am trying to add a dismissible widget on the list items (drag handle + child list item). I was unable to find where the add my code. I was wondering if you could direct me to where I can make the edits so that when the dismissible is called the drag handle moves with the child (I noticed they are in a stack right now). This is for the list items in an expandable list.

Thank you

[2021-01-23 08:36] erishabh commented on #18
+1

[2021-01-25 16:07] a22349 opened #27 "Android drag is anoising"
if enable ios-alike  handle , can you help to  support direct drag immediatlly  and not need to touch a while then drag , which is very annoy. thanks .

[2021-01-29 22:53] justinsunyt opened #28 "Sliver List Cannot be Empty"
When DragAndDropLists is a sliver list and its children is empty, I get this error:
`A RenderSliverPadding expected a child of type RenderSliver but received a child of type RenderPositionedBox.`

Digging through the source code, the problem seems to be that when children is empty, it returns this:
[code]

Instead of Center, it should render a sliver.

[2021-02-19 06:13] datatexture commented on #22
I am having this issue also. Why does it expand out the list item. Any way to override or set a shape while dragging.. thanks kindly! love this library.

[2021-02-22 23:05] Tedsterh opened #29 "Change List Axis"
Would it be possible to mix vertical lists with horizontal lists, to drag widgets between horizontal and vertical scroll views?

[2021-03-05 11:35] vbuberen commented on #26
Hey @erishabh
I had the same issue where drag handle stays when you try to use dismissible widget.
As a workaround I suggest to put some transparent widget as `dragHandle` for `DragAndDropLists` and put your actual handle widget inside the dismissible item itself. This way it will work properly with dragging only using handles and the handle widget with move when you dismiss it.

[2021-03-12 15:08] the-thirteenth-fox opened #30 "Support PageView"

[2021-03-20 06:13] xinshengfan opened #31 "Add Null safe version"
After Flutter is upgraded to 2.0.2, it needs to support null safety.

Currently version does not support null safety.

Please support null safety.

Thank you.

[2021-03-25 14:15] WilliamViktorsson commented on #1
I ran into the same problem as well. Would be great if this was suggested in the readme, perhaps at the same place it is recommended to use GestureDetector over Inkwell.

[2021-03-26 14:15] FRANIAZA commented on #31
Yes, I would also need a null safe version of this package. Thank you

[2021-03-30 21:52] philip-brink commented on #31
v 0.3.0 is now published and null safe.

[2021-03-30 21:52] #31 closed

[2021-04-02 11:34] vbuberen opened #33 "Crash with null call when no `itemDragHandle` defined"
In the latest `0.3.0` release if some list has no `itemDragHandle` defined app fill crash due to null call.

Here is what I see in the stacktrace:
<img width="1034" alt="null crash" src="https://user-images.githubusercontent.com/13467769/113412076-03b30580-93c0-11eb-9dc9-40aac1013096.png">

Looks like the problem caused by a typo with wrong null check before.

P.S. I wanted to introduce a PR with

[2021-04-02 11:40] vbuberen opened #34 "Lists use only `listDragHandle` for both lists and items"
When lists have both `listDragHandle` and `itemDragHandle` only `listItemHandle` will be used.

To reproduce the issue I specified the following configuration for handled in the sample app:
[code]

And while launching the sample app I see the following situation:
<img src="https://user-images.githubusercontent.com/13467769/113412501-1bd75480-93c1-11eb-8f53-c05439af3f35.png" width="400" />

Looks l

[2021-04-02 15:49] philip-brink commented on #34
Thanks! I've merged your PR and published it in v0.3.0+1.

[2021-04-02 15:49] #34 closed

[2021-04-02 15:52] philip-brink commented on #33
Thanks! I've merged your PR and published it in v0.3.0+1.

With respect to the null safety, that was already done for v0.3.0, so it should be reflected on your end? This is the first one that I've migrated to null safety though, so please do let me know if you see any issues.

[2021-04-15 07:54] HamiidrezaRamezani opened #36 "rtl directionaity does not work"
I want to use this package in Arabic, but when I rtl, the program has a problem, the problem is that when it moves, the items that should be in the wrong position, for example, instead of moving from the left, you have to move from the right.

[2021-04-15 08:10] HamiidrezaRamezani commented on #36
https://imgur.com/FigsHif

[2021-04-15 19:44] philip-brink commented on #36
Hi @HamiidrezaRamezani , thanks for the report. I just published a new version 0.3.1 that fixes this problem.

[2021-04-16 17:56] #21 closed

[2021-04-16 17:56] #33 closed

[2021-04-20 05:58] HamiidrezaRamezani commented on #36
thank you for this update , very good .

[2021-04-20 13:17] #36 closed

[2021-05-05 05:57] HamiidrezaRamezani opened #39 "How can I change the speed of the items?"
I want to change the speed of the items when I hold and move an item, at the moment the speed of the items is very low

[2021-05-27 10:52] sudheer-palaparambil opened #41 "Fixed size list"
![Screenshot_20210527_161747](https://user-images.githubusercontent.com/9995485/119813633-274d8480-bf07-11eb-9566-815e3a59852b.png)
I have a list like this, best fruits and good fruits (image attached). Can I have a fixed size list for both 'Best Fruits' and 'Good Fruits' and content inside it scrollable?

[2021-06-25 17:15] gidrokolbaska opened #42 "Animation for DragAndDropList"
Right now when you move an item from list A to list B, the DragAndDropList just snaps into place instantly. Is it possible to make it animated the same way it is applied to DragAndDropItem?

[2021-07-14 16:23] joeldegerman99 opened #43 "When using horizontal lists drag does not scroll down the list."
Everything works except that if i would like to move an item in a list and scroll down in the list it does not scroll down (vertical) when moving the item to the bottom.

The horizontal scroll works fine.

[2021-07-16 08:53] joeldegerman99 commented on #43
@philip-brink Do you know if it is possible to implement?

[2021-07-20 14:50] devsef opened #44 "How to copy one list item to another list"
I have a row with one list on the left (target) and another on the right site (source). I want to use the right list as an source to fill the left list and therefore the item should not be moved to the new target_list but copied.
The source list contains several items and the target list can contain all of these items or only a few and one or more of one of these items.
Is that possible and how ca

[2021-07-29 03:14] xiaohua001 opened #45 "not support Switch refresh"
![image](https://user-images.githubusercontent.com/32764263/127425829-c0c7cfda-c8c2-4619-bb4b-7bb6b4842e2b.png)

[2021-07-29 05:45] xiaohua001 commented on #45
I had found a solution that when u  setState(({ // update your content agin  })),

[2021-08-04 07:45] ideva-SAS opened #46 "DragAndDropItem setState"
Hi,
Thank you for this beautiful work.
I have a problem to refresh the data directly in DragAndDropItem, with a call setState during an action on a child of DragAndDropItem ...
A solution ?
Best regards

[2021-09-01 09:13] nvloc120 opened #47 "lastListTargetSize doesn't apply on Horizontal mode, it's default 110px at the moment"
![image](https://user-images.githubusercontent.com/74245666/131645058-89dff32f-c947-4d1b-bcfc-41b63054880c.png)
![image](https://user-images.githubusercontent.com/74245666/131645265-f0ffdd32-45bc-4763-a713-0fbe08ff42a6.png)

[2021-09-04 11:11] arionargo opened #49 "Empty list message"
Hi there

I am having a problem with the message shown when a list is empty.
Although i have set the `contentsWhenEmpty` parameter,
 it is ignored and the default message "Empty list " is shown,
when either of the two list is empty.
I have tried this on Android and linux, with the same result.

Thanks

[2021-09-05 14:31] yatindeokar opened #50 "Align DragAndDropList childrens horizontally"
How can I align DragAndDropList childrens horizontally. I have tried setting axis horizontal to DragAndDropLists but its only  applicable to list not an children inside the list. I want DragAnd Drop list like below.
![Screenshot from 2021-09-05 19-55-26](https://user-images.githubusercontent.com/13361899/132130478-e042e892-dea2-476f-932f-13ab03363e2a.png)

[2021-09-12 06:35] GraemePerrins opened #52 "When dragging a colored ListTile item causes drop ghost tile of color to appear in list after drop completes"
When using listtiles that are colored that are dragged into a list the list grows on drag (ghost tile?) and then once tisttile item is dropped to the  target  list the list is rebuilt but the drag_and_drop_list does not refresh correctly . Subsequent mouse click (emulator) causes a frame redraw to correctly update the display.

Before drag:
![image](https://user-images.githubusercontent.com/426624

[2021-09-13 03:29] GraemePerrins commented on #52
Managed to fix the behaviour by adding a ValueKey to the DragAndDropLists instance and then on list reorder I update the valuekey to force the lists to be re-rendered on any list reorder.

[2021-09-15 14:13] yogendraaegis opened #53 "Move item from Expansion to outside list"
Hello,

Can we move the list item from Expansion to the outside list?

I m working on one app that required a reorderable list view(folder/file) with features like we can move list view item to up-down and we can move an item(file) into another item(folder).

I have tried to integrate a reorderable Expansion list(folder/file) and it is working fine with up-down features and move items from one fol

[2021-09-15 14:15] Yashraj82 opened #54 "Drag and Drop List and Items."
How to Drag & Drop files into folder and remove that file from folder and put it in outside list as List?

[2021-09-18 02:13] arshkinana opened #55 "Add a featute 'listHeight' to the Drag and drop lists widget."

[2021-09-20 08:16] X-SLAYER commented on #41
if you want to limit the list size so you can't drag and drop when the list reached a specific length you can do it like that
[code]

[2021-10-12 09:15] jlnrrg opened #56 "itemDragHandle -> ReorderableDragStartListener"
This is an awesome package, thank you for your flutter contribution :+1:

I noticed that the `itemDragHandle` is overlayered over the real `DragAndDropItem` for example.
This creates an issue for custom tiles:
- For long text the trailing widget has to be set to reserve a space for the overlayered draghandle.
- The drag handle is not really part of the listtile. This is an issue when working with

[2021-10-18 05:29] jlnrrg commented on #45
If you found your solution, please close this issue. Thx.

[2021-10-18 05:37] jlnrrg commented on #18
Have you tried setting the `lastItemTargetHeight` and `lastListTargetHeight`, while setting `contentsWhenEmpty: const SizedBox.shrink()`?

[2021-11-18 13:35] rushabhshah065 opened #59 "Horizontal Drag List is not scrolling horizontally for web."
When running on the web platform and using
` axis: Axis.horizontal,`
the list is not scrolling horizontally
![Screen Shot 2021-11-18 at 6 59 21 PM](https://user-images.githubusercontent.com/48256486/142425014-3f4a6e93-59b2-4fc5-9ad2-773730c9681b.png)
.

[2021-12-15 10:36] petsve opened #60 "Sticky headers"
I can't find a way to make the headers sticky. If there is, please tell me how.

It would be great it there was a property like "stickyHeaders" on a DragDropList, but it would also be fine if there was any way to use a package like sticky_headers, flutter_sticky_header.

The packages I have found for sticky headers are based on a widget that wraps the list content/items but the the structure here

[2022-01-22 22:51] IsraaMohamedHamid opened #62 "Change DragAndDropItem based on whether the item container is tapped or not."
I tried to change the container inside of DragAndDropItem if the bool was true or false but it does not want to change however when I print to see if isListEnable changes it appears that it does.

DragAndDropList _addCardWidget(context) {
    return DragAndDropList(
      canDrag: false,
      children: [
        DragAndDropItem(
          canDrag: false,
          child: Padding(
            padd

[2022-01-24 09:04] #62 closed

[2022-02-03 13:24] mauriceraguseinit opened #63 "How to drag the whole List Item"
At the moment I can only drag my list item by hold the drag handle icon at the right.  How can I drag the whole cell .. eg. from the center?

[2022-02-08 02:11] Hennythehun opened #64 "Starting a drag will animate the list up then down"
When starting a drag the user will see the list move up an item then back down. This behaviour seems to be the default and happens on all the examples. Setting the animation duration for either the list or item to 0 will fix issue, but it will obviously disable animation altogether which is undesirable.

This makes the drag and drop behaviour look like a glitch.

Is there currently a way to disabl

[2022-02-08 02:19] Hennythehun opened #65 "Dragging and dropping DragAndDropListExpansion should collapse all DragAndDropListExpansion"
As per the title, dragging and dropping DragAndDropListExpansion should collapse all DragAndDropListExpansion. I haven't been able to find a way to do this with the package. All sub lists will be moved with the state that the drag action started. If they were already opened, the items will be moved in its opened state. This makes it hard to actually do the re-ordering especially if the sub list is

[2022-02-12 01:38] Maclaon opened #66 "How can i delete/remove an item?"
does it have a `onItemDelete/onItemRemove` function to support the feature that i can remove items from exist dropped list?

[2022-02-25 18:00] visign3d commented on #64
![dragAndDropList](https://user-images.githubusercontent.com/25665922/155764564-30e95e3d-76ab-46a6-938d-a6d2aedf6697.gif)

[2022-02-25 19:38] visign3d commented on #64
https://user-images.githubusercontent.com/25665922/155784108-8394a557-22db-463e-a839-d1c05542198c.mp4

[2022-02-28 12:27] ervindobri opened #67 "Web scrolling not working properly"
[code]

[2022-03-19 09:58] Tatsuya4610 commented on #39
@HamiidrezaRamezani
Try adding Padding outside of DragAndDropLists.
The speed will be faster if the Item appears outside the DragAndDropLists.

[2022-03-19 09:59] Tatsuya4610 commented on #25
@Tangshenghao1
1. Try adding Padding outside of DragAndDropLists.
    The speed will be faster if the Item appears outside the DragAndDropLists.

[2022-03-24 10:15] Yurii-Chui commented on #53
Have you solve this?

[2022-03-24 10:28] yogendraaegis commented on #53
Still Not.

[2022-03-24 10:33] Yurii-Chui commented on #53
Did you try to send an Email to Philip or someone from contributors?

[2022-03-24 10:39] yogendraaegis commented on #53
No, i have not contact to any contributors.

[2022-03-24 10:41] Yurii-Chui commented on #53
I'm trying now. If I find out I'll let you know ;).

[2022-03-24 10:48] yogendraaegis commented on #53
Ok, thanks

[2022-03-31 08:17] justkawal commented on #53
I'm also trying to implement this type of functionality but no success yet.

[2022-04-07 01:29] xiaodusx1 commented on #46
have the same problem,click DragAndDropItem,the whole DragAndDropListExpansion with a call setState,and it folded.
DragAndDropItem(
   child:ListTile(onTap:()=>this.setState(()=>showSub=!showSub)),
   subtitle:showSub?Text("sfsd"):null))

[2022-04-08 05:25] mclean25 commented on #64
Any update on this?

[2022-04-09 03:32] CurtinXavierTan commented on #50
Any updates?

[2022-04-10 15:24] mclean25 commented on #64
I suspect this is due (or related) to this open Flutter issue: https://github.com/flutter/flutter/issues/32170

[2022-04-13 07:14] emmggi opened #68 "Lazy loading in scaffold body gives scrollposition error"
I have a horizontal List that has vertical items. Whenever i try to scroll vertical items within each list I get
[code]
This is minimum code I use:

[code]

[2022-04-14 07:24] APDos commented on #1
I'd just like to 2nd the comment above, I was getting really frustrated after a team member implemented this package and it took me longer than I'd like to find this solution

[2022-04-21 03:08] YowFung opened #69 "Scrolling Problem"
The position of the scrollbar changed suddenly when I drag to a height if the `DragAndDropList` has a number of children.

![scrolling](https://user-images.githubusercontent.com/26346560/164363798-5fd47a9b-a7e8-4aa3-9838-c70639e2a518.gif)

[2022-04-21 03:20] mclean25 commented on #64
I seem to have solved this for my self in multiple instances by providing a `feedbackWidget` prop in the `DragAndDropItem` widget, and giving the `feedbackWidget` a different styling then the `child` widget. In my case, this was just a matter of adding a different background colour to the `feedbackWidget`

[2022-04-21 03:53] YowFung opened #70 "UI be blocking a few seconds when it has large children."
The UI thread will be blocking a few seconds if the `DragAndDropLists` has large children (great than 100 items).
But I use the official widget `ListView`, it has no such problem.
I hope that you can optimize its performance because it gave us a really bad experience.

[2022-04-21 04:41] mclean25 commented on #64
Never mind, seems to work on the first try then the same issue persists afterwards. Also, this issue is happening in some of the project examples.

[2022-04-23 22:39] pampas93 commented on #49
Having the same issue. @arionargo Did you find any solutions to this?

[2022-04-24 10:25] arionargo commented on #49
Unfortunately, i haven't found any solution yet.
Although, by looking the code in lib/drag_and_drop_list.dart at line 161,
this should be working

[2022-04-25 07:05] pampas93 commented on #49
@arionargo I just fixed this issue. I was earlier setting the `contentsWhenEmpty` to the `DragAndDropLists`. Instead, you have to add the `contentsWhenEmpty` to `DragAndDropList`

(see the slight diff; It's setting to the single DragAndDropList and not DragAndDropLists)

[2022-04-28 01:00] pampas93 commented on #49
`DragAndDropLists` is the container for `DragAndDropList`. And digging into the lib code, `contentsWhenEmpty` within `DragAndDropList` class made sense

[2022-05-07 19:26] ThomJ130 opened #71 "Disabling Drag On Long Press does nothing"
For DragAndDropLists, having the parameter itemDragOnLongPress set to false does nothing.

Looking at the source code under drag_and_drop_lists.dart, you can search for itemDragOnLongPress and see that it is only initialized, never used.

![image](https://user-images.githubusercontent.com/55808734/167268941-a399200a-c109-473a-8d0a-b8aa0a55544c.png)

Can this be fixed? Is there a work-around? I nee

[2022-05-16 09:04] mauriceraguseinit opened #72 "Add Flutter 3 support"
get this warning at runtime:

[code]

[2022-05-20 06:02] nikhith265 opened #74 "Null check exception on set axis to horizontal"

[2022-05-20 06:04] nikhith265 commented on #74
when  try to change the axis to horizontal it display an null check exception on the screen , But it working fine on vertical axis

[2022-05-20 14:51] piratkin opened #76 "How do I get the position of an item in the list?"
Hello! Is it possible to somehow get the position (`index`) of an item in the list?

[code]

[2022-05-22 00:37] nikhith265 commented on #74
I fix it by adding listpadding property

[2022-05-22 00:37] #74 closed

[2022-05-22 00:40] nikhith265 commented on #44
you can add the item to new list index with out removing them from the old list

[2022-05-24 12:11] nikhith265 opened #77 "How to set a list height in horizontal axis?"

[2022-05-28 15:07] tahaaslam1 commented on #64
Hi @henk-lim could you please contact me at [tahaaslam045@gmail.com](mailto:tahaaslam045@gmail.com)
I have some issues regarding this issue : https://github.com/Milad-Akarie/auto_route_library/issues/792

[2022-05-30 10:38] UnluckyY1 commented on #72
@philip-brink can you merge this pull request ?
Thank you 😊

[2022-08-04 15:35] philip-brink commented on #72
Apologies for the long delay, but this is now merged and published as v 0.3.3. Thanks for the PR @mauriceraguseinit

[2022-08-04 18:19] akonjuhi opened #78 "ListView.Builder not working on DragAndDropList"
How is it possible to pass the widget listView.builder inside the children of DragAndDropList for better performance

[2022-08-14 11:59] Karo132 opened #79 "Unable to set specific list width for each individual horizontal DragAndDropLists"
Im using the listWidth to set the width of each indivual horizontal list. This sets all the lists to the same width. Is there a method of doing something like this?

listWidth: list.isEmpty ? widthWhenEmpty : widthWhenNotEmpty

So that all empty lists have a different listWidth.

Thanks to any responder!

[2022-08-24 10:52] SteZhyv commented on #68
I found how to fix this bug:
![image](https://user-images.githubusercontent.com/57412668/186400832-12d92925-b6b5-49f9-952d-fd47875934f8.png)

[2022-08-24 23:46] Pablo-Aldana commented on #71
I have found a "workaround" if you setup listDragOnLongPress=true it will make the magic, but of course would make also the list draggable instead of longPress.

There is another trick you can create a dragHandle with empty container to make just the item draggable

[code]

[2022-08-26 01:25] APDos commented on #49
Confirming that this is the correct solution, thanks for figuring this out!

[2022-08-26 02:12] APDos commented on #4
Hello, I'm also seeing this issue when setting the axis to horizontal, there is blank space to the right that I cannot get rid of. Is there a solution for this?

[2022-09-19 08:07] DanielHentschel commented on #20
Hi @philip-brink, i'm trying to implement the same as above. The problem for me is that the list that item is removed from shrinks from the top instead from bottom. How do I prevent this? kind regards Daniel

[2022-09-20 10:25] sasiacob opened #81 "Solution for multi-level lists?"
Is there a solution for multi-level lists (3 levels nested for example) ?

What I mean is if we can have a list of DragAndDropLists which have DragAndDropListExpansion and their children have others DragAndDropListExpansions.

[2022-09-21 06:23] viramaham73 opened #82 "space between item"
hi
how change space between item
this item library have defult space and i want to disable this space
please help me

[2022-10-21 10:59] emmggi commented on #68
That doesn't work for me. Still have the same issue.

[2022-10-21 11:05] emmggi commented on #68
That worked. Just had to rebuild the project. @philip-brink can you please add this fix?

[2022-10-21 11:05] #68 closed

[2022-11-30 07:21] emmggi commented on #60
I would also like this.

I tried looking at the code for `drag_and_drop_list.dart` and simply place contents (everything aside from header and footer) in a separate column with a `SingleChildScrollView` but it doesn't do the trick.

@petsve did you find a fix for this? There are numerous forks of this repo maybe someone else did it.